.profile__user {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 550px) {
  .profile__user {
    width: 100%;

    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 26px;
  }
}