.popup_image{
  background-color: rgba(0, 0, 0, 0.9);
}
.popup_image > .popup__window {
  width: auto;
  max-width: 90%;
  background: none;
  padding: 0;
  box-sizing: content-box;
  align-items: start;
}
@media screen and (max-width: 500px) {
  .popup_image > .popup__window { 
    max-width: none;
  }
}